@model IdeaStorm.WebUI.Models.BrainstormViewModel

@{
    ViewBag.Title = "Brainstorm";
}

<h2 class="text-center">Brainstorm</h2>

<div class="panel panel-default brainstorm">
    @using (Html.BeginForm())
    {
        <div class="panel-heading">
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Title,
                new {@class = "form-control storm-title", placeholder = "Storm Title"})
        </div>

        <h4>
            Enter <span id="brainstorm-remaining">10</span> more spark(s)
        </h4>

        <div class="panel-body">
            @for (var i = 0; i < 10; i++)
            {
                @Html.TextBoxFor(m => m.Sparks[i].Title,
                              new {@class = "form-control", placeholder = "Spark " + (i + 1)})
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
            @Html.ActionLink("Cancel and return to List", "Index", null,
                             new {@class = "btn btn-default"})
        </div>
    }
</div>

@section Scripts
{
    <script>
        function update_remaining() {
            var remaining = 0;
            $(".panel-body > input").each(function () {
                if ($(this).val().trim().length === 0) {
                    remaining++;
                }
            });
            $("#brainstorm-remaining").text(remaining);
        }

        $(document).ready(function() {
            $(".panel-body > input").blur(function () {
                update_remaining();
            });
            update_remaining();
            $(".storm-title").select();
        });
    </script>
}