body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-group {
    max-width: 400px;
}

.input-group input {
    max-width: 100%;
}

.tagline {
    font-size: 75%;
    opacity: .8;
}

#idea-desc {
    margin-top: 5px;
}

.subtitle {
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: -5px;
}

.storm-card {
    display: inline-table;
    height: 425px;
    margin: 5px;
    width: 20rem;
}

.storm-card > .panel-heading > a {
    font-weight: bold;
}