@using IdeaStorm.Domain.Entities
@model IEnumerable<Idea>

@{
    ViewBag.Title = "Ideas";
}

<h2>Ideas</h2>

@foreach (var i in Model)
{
    <div class="well">
        <h3>
            <strong>@i.Name</strong>
            <span class="pull-right label label-primary">@i.Category</span>
        </h3>
        
        @Html.ActionLink("Edit", "Edit", new { ideaId=i.IdeaID }, new { @class = "btn btn-success pull-right" })

        <span class="lead">@i.Description</span>
        
    </div>
}

