@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Idea Storm</h1>
    <p class="lead">Idea Storm is a web app for brainstorming and posting ideas, built with ASP.NET MVC 5.</p>
    <p>@Html.ActionLink("Register »", "Register", "Account", null, new { @class= "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse Ideas</h2>
        <p>
            Ideas can be created from scratch, or 'promoted' from a Brainstorm.
            View all of the ideas posted to Idea Storm by you and other users.
        </p>
        <p>@Html.ActionLink("Ideas »", "List", "Idea", null, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Brainstorm</h2>
        <p>Quickly get any and all ideas out of your head and into lists using Brainstorm. Try to come up with 10 potential ideas every day to train your creativity.</p>
        <p>@Html.ActionLink("Brainstorm »", "Brainstorm", "Storm", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Post an Idea</h2>
        <p>Already have a well developed idea that you'd like to share? Click below to get straight into publishing your idea to Idea Storm.</p>
        <p>@Html.ActionLink("New Idea »", "Create", "Idea", null, new { @class = "btn btn-default" })</p>
    </div>
</div>